@font-face {
  font-family: Junction;
  src: url("../fonts/junction-regular/Junction.otf") format("opentype");
}
body {
  background: #f2f2f2;
  font-family: Junction, sans;
  text-align: center;
}
/* Aspect ratio based on https://stackoverflow.com/a/10441480 */
#mynetwork {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;

  background-image: url("../resources/pg-logo.png");
  background-size: 80%;
  border: 1px solid lightgrey;
}
div.stretchy-wrapper {
  width: 100%;
  padding-bottom: 66%; /* 3:2, the flag's aspect ratio */
  position: relative;
}

/* Stylesheet for layout and spacing */
.controls {
  display: flex; /* Flexbox layout to align children inline */
  justify-content: space-between; /* Distributes space between elements */
  align-items: center; /* Vertically centers the content */
  padding: 10px; /* Padding around the controls container */
}

.control-item {
  margin: 0 10px; /* Spacing between control items */
  flex-grow: 1; /* Allows each control item to grow evenly */
}

.control-item p {
  margin: 0; /* Removes default margin from paragraphs for cleaner alignment */
}
